.card {
    border: 1px solid #ccc;
    /* background-color: #eeecec; */
    border-radius: 8px;
    padding: 16px;
    margin: 16px;
    width: 300px;
    height: 400px;
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
    transition: transform 0.2s;
    flex: 0 0 300px; /* asegura tamaño fijo dentro del flex container */
    
}

.hotel-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 12px;
}